ion-menu-button {
  color: var(--ion-color-primary);
}

#intro strong {
  font-size: 20px;
  line-height: 26px;
}

#intro p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  max-width: 800px;
  margin: auto;
}

#intro a {
  text-decoration: none;
}

.db-schema {
  width: 100%;
}
